*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit ;
  }

  html { 
    //This defines what 1rem is
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62,5%
    
    @include respond(big-desktop){ 
      font-size: 75%; //1rem = 12px, 12/16 = 75%
    }
    @include respond(tab-land){  //width < 1200?
      font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port){ //width<900?
      font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    //Si tuvieramos 700px, aplicarian ambas condiciones pero para evitarlo, dejamos siempre el mas pequeño abajo que será el que aplique.
    /*
    No necesitamos este porque el tamaño de la fuente es igual en ambos casos.
    @include respond(phone){
      font-size: 50%;
    }
    */
    
  }
  
  body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-land){
      padding: 0;
    }
  }